* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    height: 100vh;
    font-family: 'Cinzel', serif;
    background-color: #353941;
    place-items: center;
    box-sizing: border-box;
}

div{
    padding: 17.5px;
    color: #26282b;
    font-weight: 600;
}

span{
    color: #26282b;
    font-weight: 500;
}

.container {
    background-color: #90b8f8;
    padding: 22.5px;
    box-shadow: 5px 7.5px 25px rgb(0,0,0,0.5);
    border-radius: 5px;
    font-size: 1.4rem;
}